* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	text-align: center;
	background-color: #3385ff;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: (-50%, -50%);
	transform: translate(-50%, -50%);
}

img {
	display: block;
	width: 480px;
	height: 480px;
	margin: 2rem auto;
}

.app {
	padding: 2rem;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

input {
	appearance: none;
	outline: none;
	border: none;
	background: #EEE;
	width: 100%;
	max-width: 320px;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-right: 1rem;
}

button, a {
	appearance: none;
	outline: none;
	border-radius: 12px;
	background: none;
	cursor: pointer;

	color: azure;
	font-size: 1.5rem;
	padding: 5px;
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	img {
		display: block;
		width: 240px;
		height: 240px;
		margin: 2rem auto;
	}
}